apiVersion: apps/v1
kind: Deployment
metadata:
  name: knote-ops
  namespace: default
spec:
  replicas: 6
  selector:
    matchLabels:
      run: knote
  template:
    metadata:
      labels:
        run: knote
    spec:
      containers:
        - name: knote-container
          image: 567232876231.dkr.ecr.ap-northeast-3.amazonaws.com/knote-ops:0.1.0 # {"$imagepolicy": "flux-system:knote-ops"}
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
          env:
            - name: spring.data.mongodb.uri
              value: mongodb://mongo-0.mongo:27017,mongo-1.mongo:27017/dev?readPreference=secondary&replicaSet=rs0
